.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.aboutLeft {
    flex-basis: 40%;
    position: relative;
}

.aboutRight {
    flex-basis: 56%;
}
.aboutImg {
    width: 100%;
    border-radius: 10px;  
}   
.playIcon {
    position: absolute;
    width: 60px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     cursor: pointer;
}
.aboutRight h3 {
    font-weight: 600;
    font-size: 16px;
    color: #212ea0
}
.aboutRight h2 {
    font-weight: 600;
    font-size: 35px;
    color: #000f38;
    margin: 10px;
    max-width: 400px;
}
.aboutRight p {
    color: #676767;
    margin-bottom: 15px;
}
/* media query */
@media (max-width: 900px) {
    .about {
        flex-direction: column;

    }
    .aboutLeft {
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .aboutRight {
        flex-basis: 100%;
        margin: 20px;
    }
}